* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgb(255, 235, 205);
}
.mainheading {
  padding-top: 2%;
  font-size: 2.5rem;
  font-weight: 600;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(103, 18, 18);
  text-align: center;
}
img {
  max-width: 40%;
}
.imgbox {
  display: flex;
  justify-content: center;
  margin: 2% 0 3% 0;
}
.buttons.box {
  display: flex;
  justify-content: space-around;
}
.button {
  background: linear-gradient(to right, rgb(103, 18, 18), rgb(186, 23, 23));
  color: aliceblue;
  font-size: 1.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  padding: 3%;
  border-radius: 5%;
  box-shadow: 5px 5px 2px 1px rgb(76, 49, 49);
  width: 20%;
}
